.Subtitulo1, .Subtitulo {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../assets/fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Oswald-Bold";
  src: url("../assets/fonts/Oswald-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald-Regular", sans-serif;
  line-height: 1.6;
  text-align: center;
}

.Subtitulo1, .Subtitulo {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

footer, .imagenFooter {
  background-image: url("../assets/img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.elementoInlineBlock {
  display: inline-block;
  width: 31%;
  margin: 20px 1%;
  text-align: center;
}

.footer {
  color: black;
  background-color: lightgray;
}
.footer iframe {
  width: 100%;
  height: auto;
  max-height: 200px;
}
@media (max-width: 768px) {
  .footer .elementoInlineBlock {
    width: 100%;
    margin-bottom: 20px;
  }
}

.redes {
  font-size: 3rem;
  color: black;
  margin-right: 10px;
}
.redes:hover {
  color: #e6e6e6;
}

.contactoRedes h3 {
  margin-top: 20px;
}
.contactoRedes p {
  margin-bottom: 5px;
}

header {
  background-image: url("../assets/img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
header .navbar-brand {
  display: flex;
  align-items: center;
}
header .navbar-brand .logo {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}
header .navbar-brand .tituloWEB {
  font-family: "Oswald-Bold", sans-serif;
  font-size: 5rem;
}
@media (min-width: 900px) {
  header .navbar-brand .tituloWEB {
    margin-right: 300px;
  }
}
header .navbar-nav {
  text-align: right;
}
header .linkNav {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin-right: 30px;
}

.imagenMain {
  width: 100%;
}
.imagenMain .img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.parrafoMain {
  width: 100%;
  line-height: 2;
  font-size: 2rem;
  margin: 50px auto;
}

.aLaDerecha, .aLaIzquierda {
  display: flex;
  align-items: center;
}
.aLaDerecha .imagenDerecha, .aLaDerecha .imagenIzquierda, .aLaIzquierda .imagenDerecha, .aLaIzquierda .imagenIzquierda {
  width: 30%;
  margin-right: 20px;
}
.aLaDerecha .parrafoIzquierda, .aLaDerecha .parrafoDerecha, .aLaIzquierda .parrafoIzquierda, .aLaIzquierda .parrafoDerecha {
  flex: 1;
  font-size: 1.8rem;
  line-height: 1.5;
}

.aLaDerecha .imagenDerecha {
  order: 2;
}

.aLaIzquierda .imagenIzquierda {
  order: 0;
}

.Subtitulo {
  font-family: "PTSans-Regular";
  font-size: 2.3rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Subtitulo1 {
  font-family: "PTSans-Regular";
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-inner img {
  object-fit: cover;
  height: 650px !important;
}

@media (max-width: 768px) {
  .aLaDerecha, .aLaIzquierda {
    text-align: center;
    flex-direction: column;
  }
  .aLaDerecha .imagenDerecha, .aLaDerecha .imagenIzquierda, .aLaIzquierda .imagenDerecha, .aLaIzquierda .imagenIzquierda {
    width: 100%;
    margin: 0;
    order: 0;
  }
  .aLaDerecha .parrafoIzquierda, .aLaDerecha .parrafoDerecha, .aLaIzquierda .parrafoIzquierda, .aLaIzquierda .parrafoDerecha {
    width: 100%;
    margin: 20px 0;
    order: 1;
  }
  .navbar-brand {
    justify-content: center;
  }
  .navbar-brand .logo {
    margin: auto;
  }
  .navbar-toggler {
    order: 2;
  }
}
.animales {
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .carousel-inner .d-flex {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-inner .d-flex {
    flex-wrap: wrap;
  }
}

.formulario-centrado {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

#carouselPerros .carousel-inner2 {
  display: flex;
  overflow: hidden;
}
#carouselPerros .carousel-inner2 .carousel-item2 {
  flex: 0 0 25%;
  transition: transform 0.6s ease;
}
@media (max-width: 768px) {
  #carouselPerros .carousel-inner2 .carousel-item2 {
    flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  #carouselPerros .carousel-inner2 .carousel-item2 {
    flex: 0 0 100%;
  }
}

.animal-container {
  position: relative;
  width: 22%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}

.animal-container img {
  width: 100%;
  display: block;
}

.animal-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.animal-container:hover .animal-info {
  opacity: 1;
}

.pagina-404 {
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}
.pagina-404 img {
  max-width: 30%;
  height: auto;
  margin-bottom: 30px;
}
.pagina-404 h1 {
  color: #0088cc;
  margin: 20px 0;
  font-size: 2.5rem;
}
.pagina-404 p {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.pagina-404 .btn {
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}
.pagina-404 .btn:hover {
  background-color: #006699;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .pagina-404 {
    margin-top: 50px;
  }
  .pagina-404 h1 {
    font-size: 2rem;
  }
  .pagina-404 p {
    font-size: 1.2rem;
  }
  .pagina-404 .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .pagina-404 img {
    max-width: 70%;
  }
  .pagina-404 img {
    max-width: 90%;
  }
}

/*# sourceMappingURL=estilos.css.map */
