$font-oswald-regular: 'Oswald-Regular', sans-serif;
$font-oswald-bold: 'Oswald-Bold', sans-serif;
$font-path: '../assets/fonts/';
$main-background: url("../assets/img/footer.png");
$main-text-color: black;
$main-font-size: 2rem;
$secondary-font-size: 2.1rem;
$main-margin: 20px;
$medium-screen: 768px;
$large-margin: 300px;
$large-font-size: 5rem;
$primary-color: #0088cc; 
$text-color: #333; 
$border-radius: 5px; 
