$font-oswald-regular: 'Oswald-Regular', sans-serif;
$font-oswald-bold: 'Oswald-Bold', sans-serif;
$font-path: '../assets/fonts/';
$main-background: url("../assets/img/footer.png");
$main-text-color: black;
$main-font-size: 2rem;
$secondary-font-size: 2.1rem;
$main-margin: 20px;
$medium-screen: 768px;
$large-margin: 300px;
$large-font-size: 5rem;

@font-face {
    font-family: 'Oswald-Regular';
    src: url($font-path + 'Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url($font-path + 'Oswald-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-oswald-regular;
    line-height: 1.6;
    text-align: center;
}

header, .imagenFooter {
    background-image: $main-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.logo {
    max-width: 200px;
    height: auto;
    margin-right: $main-margin;
}

.navbar-nav {
    text-align: right;
}

.linkNav {
    text-decoration: none;
    color: $main-text-color;
    font-size: $main-font-size;
    margin-right: $main-margin + 10px;
}

.tituloWEB {
    font-family: $font-oswald-bold;
    font-size: $large-font-size;

    @media (min-width: 900px) {
        margin-right: $large-margin;
    }
}

.elementoInlineBlock {
    display: inline-block;
    width: 31%;
    margin: $main-margin 1%;
    text-align: center;
}

.redes {
    font-size: $main-font-size + 1rem;
    color: $main-text-color;
    margin-right: $main-margin - 10px;
}

.footer {
    color: $main-text-color;
    background-color: lightgray;
}

.imagenMain {
    width: 100%;

    .img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
    }
}

.parrafoMain {
    width: 100%;
    line-height: 2;
    font-size: 2rem;
    margin: 50px auto;
}

.aLaDerecha, .aLaIzquierda {
    display: flex;
    align-items: center;

    .imagenDerecha, .imagenIzquierda {
        width: 30%;
        margin-right: 20px;
    }

    .parrafoIzquierda, .parrafoDerecha {
        flex: 1;
        font-size: 1.8rem;
        line-height: 1.5;
    }
}

.aLaDerecha {
    .imagenDerecha {
        order: 2;
    }
}

.aLaIzquierda {
    .imagenIzquierda {
        order: 0;
    }
}

.Subtitulo {
    font-family: 'PTSans-Regular';
    font-size: 2.3rem;
    width: 80%;
    margin: 50px auto 50px auto;
    text-align: center;
}

.carousel-inner img {
    object-fit: cover;
    height: 650px !important;
}

@media (max-width: 768px) {
    .aLaDerecha, .aLaIzquierda {
        text-align: center;
        flex-direction: column;

        .imagenDerecha, .imagenIzquierda {
            width: 100%;
            margin: 0;
            order: 0;
        }

        .parrafoIzquierda, .parrafoDerecha {
            width: 100%;
            margin: 20px 0;
            order: 1;
        }
    }

    .navbar-brand {
        justify-content: center;

        .logo {
            margin: auto;
        }
    }

    .navbar-toggler {
        order: 2;
    }
}
.animales {
    display: block;
    text-align: center; 
}

.animal {
    display: inline-block; 
    width: 22%; 
    margin: 1%; 
    vertical-align: top; 
}

.animal img {
    max-width: 70%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.animal p {
    margin-top: 10px; 
}


.carousel-inner {
    @media (max-width: $medium-screen) {
        .d-flex {
            flex-wrap: wrap;
        }

        .animal {
            width: 100%;
        }
    }

    @media (min-width: $medium-screen) and (max-width: 1024px) {
        .d-flex {
            flex-wrap: wrap;
        }

        .animal {
            width: 48%; 
        }
    }
}


