@font-face {
    font-family: 'Oswald-Regular';
    src: url('../assets/fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../assets/fonts/Oswald-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald-Regular', sans-serif;
    line-height: 1.6;
    text-align: center;
}

header {
    background-image: url("../assets/img/footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.logo {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

.navbar-nav {
    text-align: right;
}


.linkNav {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin-right: 30px;
}

.tituloWEB {
    font-family: 'Oswald-Bold';
    font-size: 5rem;
    }

.imagenFooter {
    background-image: url("../assets/img/footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.elementoInlineBlock {
    display: inline-block;
    width: 31%;
    margin: 20px 1%;
    text-align: center;
}

.redes {
    font-size: 3rem;
    color: black;
    margin-right: 10px;
}

.footer {
    color: black;
    background-color: lightgray;
}

.imagenMain {
    width: 100%;
}

.imagenMain .img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.parrafoMain {
    width: 100%;
    line-height: 2;
    font-size: 1.5rem;
}

.aLaDerecha, .aLaIzquierda {
    display: flex;
    align-items: center;
}

.aLaDerecha .imagenDerecha, .aLaIzquierda .imagenIzquierda {
    width: 30%;
    margin-right: 20px;
}

.aLaDerecha .parrafoIzquierda {
    width: 65%;
    font-size: 1.8rem;
    line-height: 1.5;
}

.aLaIzquierda .parrafoDerecha {
    width: 65%;
    font-size: 1.8rem;
    line-height: 1.5;
}

.Subtitulo {
    font-family: 'PTSans-Regular';
    font-size: 2rem;
    width: 80%;
    margin: 50px auto 50px auto;
    text-align: center;
}

.carousel-inner img {
    object-fit: cover;
    height: 400px;
}

.aLaDerecha, .aLaIzquierda {
    display: flex;
    align-items: center;
}

.aLaDerecha .imagenDerecha {
    margin-right: 20px;
    order: 2;
}

.aLaIzquierda .imagenIzquierda {
    margin-right: 20px;
    order: 0;
}

.aLaDerecha .parrafoIzquierda, .aLaIzquierda .parrafoDerecha {
    flex: 1;
    font-size: 1.8rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .aLaDerecha, .aLaIzquierda {
        text-align: center;
        flex-direction: column;
    }

    .aLaDerecha .imagenDerecha, .aLaIzquierda .imagenIzquierda {
        width: 100%;
        margin: 0;
        order: 0;
    }

    .aLaDerecha .parrafoIzquierda, .aLaIzquierda .parrafoDerecha {
        width: 100%;
        margin: 20px 0;
        order: 1;
    }
}

.navbar-toggler {
    order: 2;
}



@media (max-width: 768px) {
    .navbar-brand {
        justify-content: center;

        .logo {
            margin: auto;
        }
    }
}

@media (min-width: 900px) {
    .tituloWEB {
        margin-right: 300px;
        }
    }
