
@import 'variables';
@import 'mixins';
@import 'base';
@import 'footer';
@import 'header';

.imagenMain {
    width: 100%;

    .img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
    }
}

.parrafoMain {
    width: 100%;
    line-height: 2;
    font-size: 2rem;
    margin: 50px auto;
}

.aLaDerecha, .aLaIzquierda {
    display: flex;
    align-items: center;

    .imagenDerecha, .imagenIzquierda {
        width: 30%;
        margin-right: 20px;
    }

    .parrafoIzquierda, .parrafoDerecha {
        flex: 1;
        font-size: 1.8rem;
        line-height: 1.5;
    }
}

.aLaDerecha {
    .imagenDerecha {
        order: 2;
    }
}

.aLaIzquierda {
    .imagenIzquierda {
        order: 0;
    }
}



.Subtitulo {
    @extend %centered-content;
    @include font-styles('PTSans-Regular', 2.3rem);
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-inner img {
    object-fit: cover;
    height: 650px !important;
}

@media (max-width: 768px) {
    .aLaDerecha, .aLaIzquierda {
        text-align: center;
        flex-direction: column;

        .imagenDerecha, .imagenIzquierda {
            width: 100%;
            margin: 0;
            order: 0;
        }

        .parrafoIzquierda, .parrafoDerecha {
            width: 100%;
            margin: 20px 0;
            order: 1;
        }
    }

    .navbar-brand {
        justify-content: center;

        .logo {
            margin: auto;
        }
    }

    .navbar-toggler {
        order: 2;
    }
}
.animales {
    display: block;
    text-align: center; 
}

.animal {
    display: inline-block; 
    width: 22%; 
    margin: 1%; 
    vertical-align: top; 
}

.animal img {
    max-width: 70%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.animal p {
    margin-top: 10px; 
}


.carousel-inner {
    @media (max-width: $medium-screen) {
        .d-flex {
            flex-wrap: wrap;
        }

        .animal {
            width: 100%;
        }
    }

    @media (min-width: $medium-screen) and (max-width: 1024px) {
        .d-flex {
            flex-wrap: wrap;
        }

        .animal {
            width: 48%; 
        }
    }
}


.formulario-centrado {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;  
}
